<!-- The Cards to be used in the user's dashboard -->

{{ define "userCards" }}

<div class="recipe-container">

  {{ range .ViewModel.Recipes }}
  <div class="recipe-card">
    <h3 class="recipe-name">{{ .Name }}</h3>
    <p class="recipe-views">Views: {{ .Views }}</p>
    <button class="option-button" onclick="window.location.href=`/view/admin-edit/{{ .UUID }}`" type="button">
      Edit
    </button>
    <button class="delete-button" onclick="window.location.href=`/api/admin-delete-recipe/{{ .UUID }}`;" type="button">
      Delete
    </button>
  </div>
  {{ end }}

</div>

{{ end }}
