{{ define "topbar" }}

<nav class="navbar">

  <div>

    <a class="brand" href="/view/home">Recipidia</a>

    <div class="nav-links">

      <ul class="nav-list">

        <li class="nav-item"><a href="/view/home">Home</a></li>

        {{ if .LoggedIn }}

        <li class="nav-item"><a href="/view/upload-recipe">Upload Recipe</a></li>
        <li class="nav-item"><a href="/view/dashboard">Dashboard</a></li>

        {{ end }}

      </ul>

    </div>

    <div class="auth-links">

      <ul class="nav-list">

        {{ if .LoggedIn }}

        <li class="nav-item"><a href="/api/log-out">Logout</a></li>

        {{ else }}

        <li class="nav-item"><a href="/view/signup">SignUp</a></li>
        <li class="nav-item"><a href="/view/login">Login</a></li>

        {{ end }}

      </ul>

    </div>

  </div>

</nav>

{{ end }}
