<!-- The topbar to be used everywhere -->

{{ define "topbar" }}

<nav class="navbar">

  <a class="brand" href="/view/home">•ᴗ• Recipidia</a>

  <div class="nav-links">

    <ul class="nav-list">

      <li class="left-just" ><a href="/view/home">Home</a></li>

      {{ if .LoggedIn }}

      <li class="left-just" ><a href="/view/upload-recipe">Upload Recipe</a></li>
      <li class="left-just" ><a href="/view/dashboard">Dashboard</a></li>
      <li class="left-just" ><a href="/api/log-out">Logout</a></li>

      {{ else }}

      <li class="left-just" ><a href="/view/signup">SignUp</a></li>
      <li class="left-just" ><a href="/view/login">Login</a></li>

      {{ end }}

    </ul>

  </div>

</nav>

{{ end }}
